* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #6f6758;
}

.toprow {

}

.flame {
    height: 16px;
    width: 8px;
    background: linear-gradient(orange, red  18px);
    align-self: end;
    justify-self: center;  
    grid-row: 2/3;  
}

#flame_5_center {
    grid-column: 5/6;
    grid-row: 1/2;
}

.cup {
    height: 40px;
    width: 34px;
    background-color: rgb(230, 200, 34);    
    align-self: start;
    justify-self: center;  
    grid-row: 3/4;  
    border: black 1px solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#cup_5_center {
    grid-column: 5/6;
    grid-row: 2/3;
}

.sphere {
    grid-row: 4/5;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 48px solid #929faa;
    align-self: start;
    justify-self: center;
}

#sphere_5_center {
    grid-column: 5/6;
    grid-row: 3/4;
}

.stick {
    height: 100%;
    width: 8px;
    background-color: #929faa;
    align-self: start;
    justify-self: center;  
    grid-row: 5/6;  
}

#stick_5_center {
    grid-column: 5/6;
    visibility: hidden;
}

.crossbar {
    height: 16px;
    background-color: #929faa;
    grid-row: 6/7;
    grid-column: 2/9; 
}

.left {
    height: 16px;
    background-color: #929faa;
    grid-column: 1/2;
    width: calc(50% + 4px);
    justify-self: right;
    border-bottom-left-radius: 10px;
}

.right {
    height: 16px;
    background-color: #929faa;
    grid-column: 9/10;
    width: calc(50% + 4px);
    justify-self: left;
    grid-row: 6/7;
    border-bottom-right-radius: 10px;
}

.shaft {
    grid-column: 5/6;
    width: 8px;
    background-color: #929faa;
    justify-self: center;  
    grid-row: 4/9;
}

.base {
    grid-row: 8/9;
    align-self: end;
    justify-self: center;
    grid-column: 5/6;

    width: 0;
    height: 0;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-bottom: 80px solid #929faa;
}

.grid {
    display: grid;
    padding: 20px;
    height: 100vh;
    width: 100vw;

    grid-template-columns: repeat(9, minmax(33px, 1fr));
    grid-template-rows: repeat(6, 40px) 1fr;
}